.thread-card {
    min-width: 170px;
    height: 380px; 
    padding: 8px 16px;
    font-family: 'Arial', sans-serif; 
    color: #333; // This should be a color that contrasts with the card background
    background-color: #fff; // Assuming a white background
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Soft shadow for depth
    border-radius: 8px; // Rounded corners
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .book-image {
      border-radius: 8px; // Rounded corners
      height: 200px; // Adjust height as needed
      background-size: cover;
      background-position: center;
    }
  
    .book-info {
      padding: 4px;
  
      .book-title {
        margin: 0;
        font-size: 16px; // Adjust font-size as needed
        font-weight: bold;
      }
  
      .book-author {
        margin: 0;
        font-size: 12px; // Adjust font-size as needed
        color: #666; // Lighter color for the author text
      }
  
      .book-meta {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;  
        svg {
          font-size: 14px; // Icon size
          color: #666; // Icon color
        }
  
        span {
          font-size: 12px; // Adjust font-size as needed
        }
      }
    }

    .threadType {
        color: white;
        background: #32ae8bbc; 
        border-radius: 8px;
        padding: 4px 8px;
    }

    .threadTypeForum {
        color: white;
        background: #ac40efbc; 
        border-radius: 8px;
        padding: 4px 8px;
    }
  }
  